* {
    box-sizing: border-box;
}

body {
    background: linear-gradient(
        rgba(243, 65, 65, 0.7),
        rgba(243, 65, 65, 0.7)   
    ),
    url(images/bg-intro-desktop.png);
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 5% 17%;
}

#above-form {
    background-color: hsl(248, 32%, 49%);
    padding: 1.3em;
    font-weight: 300;
    color: whitesmoke;
    font-size: 12px;
    border-radius: 8px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 5px 1px 1px hsl(0, 51%, 61%);
}

#white-bold {
    font-weight: 800;
}

form {
    padding: 2em 2em 0em 2em;
    margin-top: 1.2em;
    background-color: whitesmoke;
    width: 32vw;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 5px 1px 1px hsl(0, 51%, 61%);
}

input {
    position: relative;
    margin-bottom: 0em;
    width: 100%;
    padding: 1.2em;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 12px;
    font-weight: 700;
}


img {
    visibility: hidden;
    position: absolute;
    right: 21vw;
    margin-top: -2em;
    max-width: 3vh;
}

.invalid {
    border: 1px solid red;
}

.error-message {
    visibility: ;
    margin-left: 18vw;
    font-size: 9px;
    font-weight: 400;
    color: red;
}

button {
    width: 100%;
    padding: 1.2em;
    margin-bottom: 1em;
    border-style: none;
    background-color: hsl(154, 59%, 51%);
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    color: whitesmoke;
    box-shadow: 0px 4px 2px 0px hsl(154, 59%, 35%);
}

button:hover {
    cursor: pointer;
    background-color: hsl(154, 65%, 65%);
    box-shadow: 0px 4px 2px 0px hsl(154, 59%, 51%);
}

button:active {
    background-color: hsl(154, 59%, 51%);
    box-shadow: 0px 4px 2px 0px hsl(154, 59%, 51%);
}


#below-form {
    padding-bottom: 3em;
    margin-bottom: 1em;
    font-size: 10px;
    font-weight: 300;
    color:hsl(246, 25%, 77%);
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#bold-red {
    font-weight: 700;
    color: hsl(0, 100%, 74%);
}

.article {
    width: 32vw;
    margin-right: 4em;
    color: whitesmoke;
    font-weight: bold;
    font-size: inherit;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2.5em;
    font-weight: 800;
    line-height: 1;
}

#left {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}


.attribution { 
    font-size: 13px; 
    text-align: center; 
    font-family: 'Poppins', sans-serif;
}
.attribution a {
     color: hsl(228, 45%, 44%); 
     font-weight: 500;
    }